
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
HOME=/home/pi

* * * * * (sleep 30 && iot-runtime Controller >> $HOME/runtime.log 2>&1)
* * * * * iot-runtime FurnaceSlave >> $HOME/runtime.log 2>&1
* * * * * iot-runtime ValveGroupSlave >> $HOME/runtime.log 2>&1
* * * * * iot-runtime FluxLogger >> $HOME/runtime.log 2>&1
* * * * * (sleep 30 && iot-runtime FluxLogger >> $HOME/runtime.log 2>&1)
* * * * * iot-runtime FurnaceMonitor >> $HOME/runtime.log 2>&1

0 3 * * * (iot-upgrade && sudo reboot) > $HOME/upgrade.log 2>&1

# needs newline at the end
